In [2]:
import A01722536_funciones as fun

In [3]:
funcion_1=fun.funcion_1("Mallorca.xlsx")
funcion_1

,id,scrape_id,last_scraped,source,name,host_id,host_name,host_since,host_location,host_response_time,...,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count
0,69998,20241214212418,2024-12-15,city scrape,COZY HIDEAWAY LOFT... MI AMOR...,353156,Lor,2011-01-19,"Palma, Spain",within an hour,...,2024-10-26,4.95,4.92,4.93,4.95,4.97,4.89,4.81,t,2
1,106833,20241214212418,2024-12-15,city scrape,Villa with a big pool in Mallorca,551974,Xisco,2011-05-02,"Palma de Mallorca, Spain",NaN,...,2024-09-11,4.89,4.81,4.81,4.89,4.92,4.52,4.63,f,1
2,159218,20241214212418,2024-12-15,city scrape,Farmhouse in Nature -ET-3025,763897,Gabriel,2011-06-30,"Inca, Spain",within an hour,...,2024-10-27,4.92,4.88,4.93,4.96,4.95,4.82,4.75,f,1
3,164185,20241214212418,2024-12-15,city scrape,Corazón de Palma-Habitación con baño privado.,788123,Maria,2011-07-07,"Costa d'en Blanes, Spain",within an hour,...,2024-10-26,4.75,4.72,4.64,4.93,4.90,4.93,4.68,f,1
4,166820,20241214212418,2024-12-15,city scrape,Guest House with Great sea views - Principal Room,794829,Toni,2011-07-08,"Balearic Islands, Spain",within an hour,...,2024-10-08,4.67,4.75,4.35,4.87,4.91,4.94,4.60,t,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16862,1308224357787269888,20241214212418,2024-12-15,city scrape,Very Cosy and very central,588497055,Martina,2024-07-09,"Palma, Spain",within an hour,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,1
16863,1308461808126489088,20241214212418,2024-12-15,city scrape,Habitación 5,587006009,Holidu,2024-07-02,"Palma, Spain",within an hour,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,83
16864,1308461814550170880,20241214212418,2024-12-15,city scrape,Habitación 4,587006009,Holidu,2024-07-02,"Palma, Spain",within an hour,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,83
16865,1308461822310863872,20241214212418,2024-12-15,city scrape,Habitación 3,587006009,Holidu,2024-07-02,"Palma, Spain",within an hour,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,83
16866,1308461864517467904,20241214212418,2024-12-15,city scrape,Apartamento,587006009,Holidu,2024-07-02,"Palma, Spain",within an hour,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,83

In [4]:
funcion_2=fun.funcion_2(funcion_1)
funcion_2

/Users/personal/Desktop/Curso Alfredo/A01722536_funciones.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(1000001, inplace=True)
/Users/personal/Desktop/Curso Alfredo/A01722536_funciones.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(1111111, inplace=True)

,id,scrape_id,last_scraped,source,name,host_id,host_name,host_since,host_location,host_response_time,...,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count
0,69998,20241214212418,2024-12-15,city scrape,COZY HIDEAWAY LOFT... MI AMOR...,353156,Lor,2011-01-19,"Palma, Spain",within an hour,...,2024-10-26 00:00:00,4.95,4.92,4.93,4.95,4.97,4.89,4.81,t,2
1,106833,20241214212418,2024-12-15,city scrape,Villa with a big pool in Mallorca,551974,Xisco,2011-05-02,"Palma de Mallorca, Spain",Valor Nulo,...,2024-09-11 00:00:00,4.89,4.81,4.81,4.89,4.92,4.52,4.63,f,1
2,159218,20241214212418,2024-12-15,city scrape,Farmhouse in Nature -ET-3025,763897,Gabriel,2011-06-30,"Inca, Spain",within an hour,...,2024-10-27 00:00:00,4.92,4.88,4.93,4.96,4.95,4.82,4.75,f,1
3,164185,20241214212418,2024-12-15,city scrape,Corazón de Palma-Habitación con baño privado.,788123,Maria,2011-07-07,"Costa d'en Blanes, Spain",within an hour,...,2024-10-26 00:00:00,4.75,4.72,4.64,4.93,4.90,4.93,4.68,f,1
4,166820,20241214212418,2024-12-15,city scrape,Guest House with Great sea views - Principal Room,794829,Toni,2011-07-08,"Balearic Islands, Spain",within an hour,...,2024-10-08 00:00:00,4.67,4.75,4.35,4.87,4.91,4.94,4.60,t,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16862,1308224357787269888,20241214212418,2024-12-15,city scrape,Very Cosy and very central,588497055,Martina,2024-07-09,"Palma, Spain",within an hour,...,Valor Nulo,1111111.00,1000001.00,1111111.00,1000001.00,1000001.00,1000001.00,1111111.00,f,1
16863,1308461808126489088,20241214212418,2024-12-15,city scrape,Habitación 5,587006009,Holidu,2024-07-02,"Palma, Spain",within an hour,...,Valor Nulo,1111111.00,1000001.00,1111111.00,1000001.00,1000001.00,1000001.00,1111111.00,t,83
16864,1308461814550170880,20241214212418,2024-12-15,city scrape,Habitación 4,587006009,Holidu,2024-07-02,"Palma, Spain",within an hour,...,Valor Nulo,1111111.00,1000001.00,1111111.00,1000001.00,1000001.00,1000001.00,1111111.00,t,83
16865,1308461822310863872,20241214212418,2024-12-15,city scrape,Habitación 3,587006009,Holidu,2024-07-02,"Palma, Spain",within an hour,...,Valor Nulo,1111111.00,1000001.00,1111111.00,1000001.00,1000001.00,1000001.00,1111111.00,t,83
16866,1308461864517467904,20241214212418,2024-12-15,city scrape,Apartamento,587006009,Holidu,2024-07-02,"Palma, Spain",within an hour,...,Valor Nulo,1111111.00,1000001.00,1111111.00,1000001.00,1000001.00,1000001.00,1111111.00,t,83

In [5]:
funcion_3=fun.funcion_3(funcion_2)
funcion_3

Por Columna:
           id                                0
scrape_id                         0
last_scraped                      0
source                            0
name                              0
host_id                           0
host_name                         0
host_since                        0
host_location                     0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
host_is_superhost                 0
host_listings_count               0
host_total_listings_count         0
host_verifications                0
host_has_profile_pic              0
host_identity_verified            0
neighbourhood                     0
neighbourhood_cleansed            0
neighbourhood_group_cleansed      0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         0
bedrooms                          0
beds                              0
price                             0
has_availability                  0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
calendar_last_scraped             0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
first_review                      0
last_review                       0
review_scores_rating              0
review_scores_accuracy            0
review_scores_cleanliness         0
review_scores_checkin             0
review_scores_communication       0
review_scores_location            0
review_scores_value               0
instant_bookable                  0
calculated_host_listings_count    0
dtype: int64
Por DataFrame:
           0

In [6]:
funcion_4=fun.funcion_4(funcion_2)
funcion_4

,last_scraped,source,name,host_name,host_since,host_location,host_response_time,host_is_superhost,host_verifications,host_has_profile_pic,...,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count
0,2024-12-15,city scrape,COZY HIDEAWAY LOFT... MI AMOR...,Lor,2011-01-19,"Palma, Spain",within an hour,t,"['email', 'phone']",t,...,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1,2024-12-15,city scrape,Villa with a big pool in Mallorca,Xisco,2011-05-02,"Palma de Mallorca, Spain",Valor Nulo,f,"['email', 'phone']",t,...,8,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2024-12-15,city scrape,Farmhouse in Nature -ET-3025,Gabriel,2011-06-30,"Inca, Spain",within an hour,t,"['email', 'phone']",t,...,31,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,2024-12-15,city scrape,Corazón de Palma-Habitación con baño privado.,Maria,2011-07-07,"Costa d'en Blanes, Spain",within an hour,Valor Nulo,['phone'],t,...,12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2024-12-15,city scrape,Guest House with Great sea views - Principal Room,Toni,2011-07-08,"Balearic Islands, Spain",within an hour,f,"['email', 'phone']",t,...,33,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16862,2024-12-15,city scrape,Very Cosy and very central,Martina,2024-07-09,"Palma, Spain",within an hour,f,"['email', 'phone']",t,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
16863,2024-12-15,city scrape,Habitación 5,Holidu,2024-07-02,"Palma, Spain",within an hour,f,"['email', 'phone']",t,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83
16864,2024-12-15,city scrape,Habitación 4,Holidu,2024-07-02,"Palma, Spain",within an hour,f,"['email', 'phone']",t,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83
16865,2024-12-15,city scrape,Habitación 3,Holidu,2024-07-02,"Palma, Spain",within an hour,f,"['email', 'phone']",t,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83
16866,2024-12-15,city scrape,Apartamento,Holidu,2024-07-02,"Palma, Spain",within an hour,f,"['email', 'phone']",t,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83